<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>jk01</key>
	<string>[jk01]</string>
	<key>jk02</key>
	<string>[jk02]</string>
	<key>jk03</key>
	<string>[jk03]</string>
	<key>jk04</key>
	<string>[jk04]</string>
	<key>jk05</key>
	<string>[jk05]</string>
	<key>jk06</key>
	<string>[jk06]</string>
	<key>jk07</key>
	<string>[jk07]</string>
	<key>jk08</key>
	<string>[jk08]</string>
	<key>jk09</key>
	<string>[jk09]</string>
	<key>jk10</key>
	<string>[jk10]</string>
	<key>jk11</key>
	<string>[jk11]</string>
	<key>jk12</key>
	<string>[jk12]</string>
	<key>jk13</key>
	<string>[jk13]</string>
	<key>jk14</key>
	<string>[jk14]</string>
	<key>jk15</key>
	<string>[jk15]</string>
	<key>jk16</key>
	<string>[jk16]</string>
	<key>jk17</key>
	<string>[jk17]</string>
	<key>jk18</key>
	<string>[jk18]</string>
	<key>jk19</key>
	<string>[jk19]</string>
	<key>jk20</key>
	<string>[jk20]</string>
	<key>jk21</key>
	<string>[jk21]</string>
	<key>jk22</key>
	<string>[jk22]</string>
	<key>jk23</key>
	<string>[jk23]</string>
	<key>jk24</key>
	<string>[jk24]</string>
	<key>jk25</key>
	<string>[jk25]</string>
	<key>jk26</key>
	<string>[jk26]</string>
	<key>jk27</key>
	<string>[jk27]</string>
	<key>jk28</key>
	<string>[jk28]</string>
	<key>jk29</key>
	<string>[jk29]</string>
	<key>jk30</key>
	<string>[jk30]</string>
</dict>
</plist>
